<div id="filter-modal" class="modal fade" tabindex="-1">
    <form action="@Url.Action("ApplyFilter", "Home")" method="post" enctype="multipart/form-data">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="white">×</span>
                            </button>
                            <i class="fa fa-calculator"></i> Please Choose Data Filter
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="input-group" style="margin: 20px">
                            <label>Product Name</label>
                            <input type="text" id="searchProductName" name="searchProductName" class="form-control text-center">
                        </div>

                        <div class="input-group" style="margin: 20px">
                            <label style="display: block">Category</label>
                            @foreach (var category in Model[0].CategoryNameList)
                            {
                                <span>
                                    <input type="checkbox" id="category_checkbox_@category.CategoryID" value="@category" style="display:none"/>
                                    <button type="button" class="btn btn-default" id="category_button_@category.CategoryID" onclick="selectCategory(@category.CategoryID)" style="margin: 5px">@category.CategoryName</button>
                                </span>
                            }
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-success">
                            Apply
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </form>
</div>

<script>
    $("button[name='categories']").click(
        function () {
            debugger;
        });
    function selectCategory(CategoryID) {
        $('#category_checkbox_' + CategoryID).click();
        var isChecked = $('#category_checkbox_' + CategoryID).is(':checked');
        if (isChecked) {
            $('#category_button_' + CategoryID).removeClass('btn-default')
                                                 .addClass('btn-info active');
        }
        else {
            $('#category_button_' + CategoryID).removeClass('btn-info active')
                                               .addClass('btn-default');
        }
    }
</script>